# Supabase (Dashboard → Project Settings → API)
VITE_SUPABASE_URL=https://spwjlkcvmrtounsnecca.supabase.co
VITE_SUPABASE_ANON_KEY=yeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNwd2psa2N2bXJ0b3Vuc25lY2NhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxMzk1OTgsImV4cCI6MjA5OTcxNTU5OH0.MBGovImn-MQNXdl3C7gHo9uj_x_N-IOGoW6juap3K0E
